name: Tests
on: push
jobs:
  actions:
    runs-on: ubuntu-latest
    steps:
    - name: Copia repositorio
      uses: actions/checkout@main
    - name: Construye imagen
      run: docker build --tag islasgeci .
    - name: Verifica el formato
      run: docker run islasgeci make check
    - name: Verifica que  podemos correr el código
      run: docker run islasgeci make example
    - name: Corre pruebas y evalúa cobertura
      run: docker run islasgeci make coverage
    - name: Corre mutation testing
      run: docker run islasgeci make mutants
